<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form method="POST"
    action="/robots/<%=index%>?_method=PUT">
    Name: <input type="text" name="name">
    Color: <input type="text" name="color">
    Movie or Show: <input type="text" name="showOrMovie">

      
  </body>
</html>
