<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Robots Page</h1>

    <ul>
      <% for(let i = 0; i < robots.length; i++) { %>
      <li>Name: <%=robots[i].name %></li>
      <li>Color: <%=robots[i].color %></li>
      <li>Show or Movie: <%=robots[i].showOrMovie %></li>
      <br>
      <% } %>
    </ul>

  </body>
</html>
